apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tianen
commonLabels:
  app: tianen 
resources:
- deployment.yaml
- service.yaml
secretGenerator:
- name: tianen-secrets
  env: secrets.env
